
<form class="section columns" action="/checkout/summary" method="POST">
	<div class="column is-6" style="text-align: center;">
		<h3 class="title is-3">Payment Method</h3>
<p class="control" style="text-align:center;">
    <span class="select">
        <select name="payment">
            <option value="1" target="Visa">Visa</option>
            <option value="2" target="American Express">American Express</option>
        </select>
    </span>
</p>
</div>
	<div class="column is-6">
		<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>$ {{total}}</th>
    </tr>
  </tfoot>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.name}}</td>
      <td>$ {{this.price}}</td>
    </tr>
    {{/each}}
    <tr>
      <td>{{shipping.name}}</td>
      <td>$ {{shipping.price}}</td>
    </tr>
  </tbody>
</table>
<a id="submit" class="button is-danger">Confirm and Pay</a>
	</div>
</form>

<script>
{{#each products}}
ga('ec:addProduct', {               // Provide product details in an productFieldObject.
  'id': '{{this.id}}',                   // Product ID (string).
  'name': '{{this.name}}', // Product name (string).
  'category': '{{this.category2}}',            // Product category (string).
  'brand': '{{this.brand}}',                // Product brand (string).
  'variant': '',               // Product variant (string).
  'price': '{{this.price}}',                 // Product price (currency).
  'quantity': 1                     // Product quantity (number).
});
{{/each}}
ga('ec:setAction','checkout', {
    'step': 2
});

$('#submit').click(function(e) {
  var option = $('select[name="payment"]').find(":selected").attr('target');
  ga('ec:setAction', 'checkout_option', {'step': 2, 'option': option});

ga('send', 'event', 'Checkout', 'Option', {
    hitCallback: function() {
      $('form').submit();
    }
});
});
</script>