<section class="columns">
	<div class="column is-5 is-square">
		<img src="http://placehold.it/960x960" alt="">
	</div>
	<div class="content column id-7">
		<h1 class="title">{{product.name}}</h1>
		<p class="title is-3" style="color: red;">$ {{product.price}}</p>
		<button id="add" target="{{product.id}}" class="button" style="width: 100%; margin: 10px;">Add To Bag</button>
		<button id="buy" target="{{product.id}}" class="button is-danger" style="width: 100%; margin: 10px;">Buy</button>
	</div>
</section>

<script>

	ga('ec:addProduct', {                 // Provide product details in an productFieldObject.
	  'id': '{{product.id}}',                     // Product ID (string).
	  'name': '{{product.name}}',  // Product name (string).
	  'category': '{{product.category2}}',     // Product category (string).
	  'brand': '{{product.brand}}',                 // Product brand (string).
	  'variant': '',                  // Product variant (string).
	});

	ga('ec:setAction', 'detail');

	$(document).ready(function(){
		$('#add').click(function(e) {
			var id = $(e.target).attr('target');
			$.post('/product/addToCart', {id: id}).done(function(response){
				if(response.added){
					ga('ec:addProduct', {                 // Provide product details in an productFieldObject.
					  'id': '{{product.id}}',                     // Product ID (string).
					  'name': '{{product.name}}',  // Product name (string).
					  'category': '{{product.category2}}',     // Product category (string).
					  'brand': '{{product.brand}}',                 // Product brand (string).
					  'variant': '',                  // Product variant (string).
					});
					ga('ec:setAction', 'add');
					ga('send', 'event', 'Enhanced Commerce', 'Add To Cart', '{{product.id}}');
					alert('Product Added.');
				}
			})
		});
		$('#buy').click(function(e) {
			var id = $(e.target).attr('target');
			$.post('/product/addToCart', {id: id}).done(function(response){
				if(response.added){
					ga('ec:addProduct', {                 // Provide product details in an productFieldObject.
					  'id': '{{product.id}}',                     // Product ID (string).
					  'name': '{{product.name}}',  // Product name (string).
					  'category': '{{product.category2}}',     // Product category (string).
					  'brand': '{{product.brand}}',                 // Product brand (string).
					  'variant': '',                  // Product variant (string).
					});
					ga('ec:setAction', 'add');
					ga('send', 'event', 'Enhanced Commerce', 'Add To Cart', '{{product.id}}', {
						hitCallback: function() {
					      document.location = '/cart';
					    }
					});
					
				}
			})
		});
	})
</script>