<section class="section">
	<h3 class="title is-3">Purchase Summary</h3>
	<p> Thanks for your purchase! </p>
	<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>$ {{total}}</th>
    </tr>
  </tfoot>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.name}}</td>
      <td>$ {{this.price}}</td>
    </tr>
    {{/each}}
    <tr>
      <td>{{shipping.name}}</td>
      <td>$ {{shipping.price}}</td>
    </tr>
    <tr>
      <td></td>
      <td>{{payment.name}}</td>
    </tr>
  </tbody>
</table>
</section>