<section class="section">
	<h3 class="title is-3">Purchase Summary</h3>
	<p> Thanks for your purchase! </p>
	<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>$ {{total}}</th>
    </tr>
  </tfoot>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.name}}</td>
      <td>$ {{this.price}}</td>
    </tr>
    {{/each}}
    <tr>
      <td>{{shipping.name}}</td>
      <td>$ {{shipping.price}}</td>
    </tr>
    <tr>
      <td></td>
      <td>{{payment.name}}</td>
    </tr>
  </tbody>
</table>
</section>

<script>
{{#each products}}
ga('ec:addProduct', {               // Provide product details in an productFieldObject.
  'id': '{{this.id}}',                   // Product ID (string).
  'name': '{{this.name}}', // Product name (string).
  'category': '{{this.category2}}',            // Product category (string).
  'brand': '{{this.brand}}',                // Product brand (string).
  'variant': '',               // Product variant (string).
  'price': '{{this.price}}',                 // Product price (currency).
  'coupon': '',          // Product coupon (string).
  'quantity': 1                     // Product quantity (number).
});
{{/each}}
ga('ec:setAction', 'purchase', {          // Transaction details are provided in an actionFieldObject.
  'id': (new Date().getTime()).toString(),                         // (Required) Transaction id (string).
  'affiliation': 'Example Store', // Affiliation (string).
  'revenue': '{{total}}',                     // Revenue (currency).
  'tax': '0',                          // Tax (currency).
  'shipping': '{{shipping.price}}',                     // Shipping (currency).
  'coupon': ''                  // Transaction coupon (string).
});
</script>